### Day 1 - Prerequisite of Pandas and MarkDowns

In [1]:
import pandas as pd

### Let's read a .csv file using Pandas

In [2]:
videogames_data = pd.read_csv('vgsales.csv')

In [3]:
videogames_data

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kaboom!,2600,1980.0,Misc,Activision,1.07,0.07,0.0,0.01,1.15
1,Boxing,2600,1980.0,Fighting,Activision,0.72,0.04,0.0,0.01,0.77
2,Ice Hockey,2600,1980.0,Sports,Activision,0.46,0.03,0.0,0.01,0.49
3,Freeway,2600,1980.0,Action,Activision,0.32,0.02,0.0,0.00,0.34
4,Bridge,2600,1980.0,Misc,Activision,0.25,0.02,0.0,0.00,0.27
...,...,...,...,...,...,...,...,...,...,...
16534,LEGO Harry Potter: Years 5-7,PC,NaN,Action,Warner Bros. Interactive Entertainment,0.05,0.14,0.0,0.03,0.22
16535,Happy Feet Two,DS,NaN,Action,Warner Bros. Interactive Entertainment,0.09,0.02,0.0,0.01,0.12
16536,Happy Feet Two,PS3,NaN,Action,Warner Bros. Interactive Entertainment,0.09,0.01,0.0,0.01,0.10
16537,Happy Feet Two,X360,NaN,Action,Warner Bros. Interactive Entertainment,0.08,0.01,0.0,0.01,0.10
16538,Happy Feet Two,Wii,NaN,Action,Warner Bros. Interactive Entertainment,0.07,0.01,0.0,0.01,0.09

---
#### Using this method we have effictive read the csv file and now have it in a dataframe which is a common way of reading data.
#### Let's see by printing the data type.

In [4]:
type(videogames_data)

pandas.core.frame.DataFrame

---
#### We can also get the data types of all the columns present in our dataframe

In [5]:
videogames_data.dtypes

Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

#### The 'int64' and 'float64' can explain themselves by their names and a thing that should be noted is that they are quantive values
#### The 'object' type are mostly strings that are qualitive values

---
#### We can get a better understanding of the dataframe using the inbuilt function in Pandas called '.info()'

In [6]:
videogames_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16539 entries, 0 to 16538
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16539 non-null  object
 1   Platform      16539 non-null  object
 2   Year          16290 non-null  float64
 3   Genre         16539 non-null  object
 4   Publisher     16539 non-null  object
 5   NA_Sales      16539 non-null  float64
 6   EU_Sales      16539 non-null  float64
 7   JP_Sales      16539 non-null  float64
 8   Other_Sales   16539 non-null  float64
 9   Global_Sales  16539 non-null  float64
dtypes: float64(6), object(4)
memory usage: 1.3+ MB

#### We can read the total entries at the top with how many data entries are filled with non-null values
#### As we saw before we can also see the list of all the data types used in this dataframe.

---
#### WE can read the top 5 rows of the dataframe using '.head()'

In [7]:
videogames_data.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kaboom!,2600,1980.0,Misc,Activision,1.07,0.07,0.0,0.01,1.15
1,Boxing,2600,1980.0,Fighting,Activision,0.72,0.04,0.0,0.01,0.77
2,Ice Hockey,2600,1980.0,Sports,Activision,0.46,0.03,0.0,0.01,0.49
3,Freeway,2600,1980.0,Action,Activision,0.32,0.02,0.0,0.00,0.34
4,Bridge,2600,1980.0,Misc,Activision,0.25,0.02,0.0,0.00,0.27

---
#### And the last 5 rows of the dataframe using '.tail()'

In [8]:
videogames_data.tail()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16534,LEGO Harry Potter: Years 5-7,PC,NaN,Action,Warner Bros. Interactive Entertainment,0.05,0.14,0.0,0.03,0.22
16535,Happy Feet Two,DS,NaN,Action,Warner Bros. Interactive Entertainment,0.09,0.02,0.0,0.01,0.12
16536,Happy Feet Two,PS3,NaN,Action,Warner Bros. Interactive Entertainment,0.09,0.01,0.0,0.01,0.10
16537,Happy Feet Two,X360,NaN,Action,Warner Bros. Interactive Entertainment,0.08,0.01,0.0,0.01,0.10
16538,Happy Feet Two,Wii,NaN,Action,Warner Bros. Interactive Entertainment,0.07,0.01,0.0,0.01,0.09

---
#### If your require to get all the column names of the dataframe just do the following:

In [9]:
videogames_data.columns

Index(['Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

---
### To get the better understanding of the numerical values of quantive we '.describe()'

In [10]:
videogames_data.describe()

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16290.000000,16539.000000,16539.000000,16539.000000,16539.000000,16539.000000
mean,2006.404727,0.265079,0.146892,0.078003,0.048193,0.538441
std,5.831618,0.817953,0.506143,0.309809,0.188884,1.557470
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,2010.000000,0.240000,0.110000,0.040000,0.040000,0.480000
max,2017.000000,41.490000,29.020000,10.220000,10.570000,82.740000

#### We get the total count of the rows, average of all rows, std, 25%, 50%, 75%, minimum and maximum values from this function.

---
#### Lastly you can use '.unique()' for distinct answers.

In [11]:
videogames_data['Platform'].unique()

array(['2600', 'NES', 'PC', 'DS', 'GB', 'SNES', 'GEN', 'GG', 'SCD', 'NG',
       'SAT', 'PS', '3DO', 'TG16', 'N64', 'PCFX', 'DC', 'WS', 'PS2',
       'GBA', 'XB', 'GC', 'PSP', 'X360', 'PS3', 'Wii', '3DS', 'PSV',
       'WiiU', 'PS4', 'XOne'], dtype=object)

---
## Q. Create your own dataframe and showcase it

In [12]:
profiles = {
    'Name': ['Shivani', 'Shreyas', 'Shrushti', 'Soha', 'Sonu', 'Swaraj', 'Tushar', 'Vigneshmurali', 'Abhishek', 'Harsheet'],
    'Hobbies': ['Geocaching', 'Origami', 'Birdwatching', 'Homebrewing', 'Rock Climbing', 'Astrophotography', 'Foraging', 'Vintage Car Restoration', 'Ceramics', 'Kombucha Brewing']
}
profiles_frame = pd.DataFrame(profiles)

In [13]:
profiles_frame

            Name                  Hobbies
0        Shivani               Geocaching
1        Shreyas                  Origami
2       Shrushti             Birdwatching
3           Soha              Homebrewing
4           Sonu            Rock Climbing
5         Swaraj         Astrophotography
6         Tushar                 Foraging
7  Vigneshmurali  Vintage Car Restoration
8       Abhishek                 Ceramics
9       Harsheet         Kombucha Brewing

# The End